<!DOCTYPE html>
<html>
<head>
    <% include partial/head.ejs %>
</head>
<body class="admin-page">

<% include partial/menu.ejs %>

<div class="container-fluid">
    <div class="row content">
        <div class="main-content col-sm-9 col-sm-offset-3">
            <h1 class="page-header">Пользователи</h1>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Операции</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% userList.forEach(function(user) { %>
                        <tr>
                            <td><%= user.lastname %></td>
                            <td><%= user.firstname %></td>
                            <td><%= user.email %></td>
                            <td>
                                <span data-user-id="<%= user._id %>" class="fa fa-pencil-square-o"></span>
                                <span data-user-id="<%= user._id %>" class="fa fa-user-times"></span>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
